
<h3>Recent Questions</h3>

<ul>
  {{#each question in model}}
    <li>{{#link-to 'question' question}}{{question.questionTitle}}{{/link-to}} by {{question.author}}</li>
  {{/each}}
</ul>





<div id="bottom">
<hr>
{{#link-to 'new-question' classNames="btn-sm btn-danger"}}Ask a question{{/link-to}}
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Lorem ipsum dolor sit amet. Case malis nobis vis eu. Eam saepe mei comprehensam.
</div>
